.modalOverlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(185, 185, 185, 0.8);
}

.modalWindow {
    position: absolute;
    background-color: var(--bg-color);
    width: 500px;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
}