.modalOverlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(185, 185, 185, 0.8);
}

.modalWindow {
    position: absolute;
    background-color: var(--bg-color);
    min-width: 275px;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    font-size: 22px;
    text-align: center;
}

.closeModalButton {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    color: var(--text-color);
}

.closeModalButton:hover {
    background-color: rgb(255, 52, 52);
    color: aliceblue;
    transition: 0.3s all ease;

}