.commentListWrapper {
    border: 1px solid var(--border-color);
    margin: 15px 10px 10px;
    padding: 10px;
}

.toggleCommentsButton {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: var(--text-color)
}

.toggleCommentsButton:hover {
    text-decoration: underline;
}