.filterByLengthLabel {
    display: block;
    text-align: center;
    font-size: 22px;
}

.filterByLengthInput {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 50px;
    font-size: 22px;
    text-align: center;  
}

.errorText {
    color: brown;
    display: block;
    text-align: center;
}